<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/dashbord.css" />
    <title>Menu</title>
  </head>

  <body>
    <div class="container">
      <div class="s_t-bar">
        <div class="top-bar"></div>

        <div class="side-bar">
          <div class="profil">
            <div class="pfp"></div>
            <span>Fname Lname</span>
            <span class="online">Administrator</span>
          </div>
          <div class="page_li">
            <ul>
              <li>
                <a href="#"
                  ><img
                    src="../image/icon-produit.ico"
                    alt="icone"
                    class="icone"
                  />
                  <span>Products</span>
                </a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../image/icon-employé.png"
                    alt="icone"
                    class="icone"
                  /><span>Employees</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bodyum">
      <div>
        <h1>Menu</h1>
      </div>

      <div class="contenu">
        <div class="col_left">Employé</div>
        <div class="col_right">Article</div>
      </div>
      <hr class="linez" />
      <div class="contenu">
        <div class="col_left">Employé</div>
        <div class="col_right">Article</div>
      </div>
      <hr />
      <div class="contenu">
        <div class="col_left">Employé</div>
        <div class="col_right">Article</div>
      </div>
      <hr />
      <div class="contenu">
        <div class="col_left">Employé</div>
        <div class="col_right">Article</div>
      </div>
      <hr />
      <div class="contenu">
        <div class="col_left">Employé</div>
        <div class="col_right">Article</div>
      </div>
    </div>
  </body>
</html>
