<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/table.css" />
    <link rel="stylesheet" href="../scss/dashbord.css" />
    <link rel="stylesheet" href="../scss/table2.css" />
    <title>Products</title>
  </head>

  <body>
    <div class="container">
      <div class="s_t-bar">
        <div class="top-bar"></div>

        <div class="side-bar">
          <div class="profil">
            <div class="pfp"></div>
            <span>Fname Lname</span>
            <span class="online">Administrator</span>
          </div>
          <div class="page_li">
            <ul>
              <li>
                <a href="#"
                  ><img
                    src="../image/icon-produit.ico"
                    alt="icone"
                    class="icone"
                  />
                  <span>Products</span>
                </a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../image/icon-employé.png"
                    alt="icone"
                    class="icone"
                  /><span>Employees</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bodyum">
      <div class="contente">
        <h1>PRODUCTS</h1>
        <img src="../image/icone-d'ajouter.png" alt="icone" class="icone1" />
      </div>

      <div class="table-users">
        <div class="header">PRODUCTS</div>

        <table cellspacing="0">
          <tr>
            <th>Picture</th>
            <th>id</th>
            <th>Nom</th>
            <th>brand</th>
            <th width="230">Unité</th>
            <th>Quantité</th>
            <th>serial</th>
            <th>categorie</th>
          </tr>

          <tr>
            <td>
              <img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" />
            </td>
            <td>1</td>
            <td>écouteur</td>
            <td>Samsung</td>
            <td>2</td>
            <td>300</td>
            <td>01 800 2000</td>
            <td>ecouteur</td>
            <td>
              <img
                src="../image/updated.png"
                alt="update"
                class="update-remove"
              />
            </td>
            <td>
              <img
                src="../image/remove.png"
                alt="remove"
                class="update-remove"
              />
            </td>
          </tr>

          <tr>
            <td>
              <img src="https://i.picsum.photos/id/1027/100/100.jpg" alt="" />
            </td>
            <td>2</td>
            <td>Y9</td>
            <td>Samsung</td>
            <td>10</td>
            <td>300</td>
            <td>01 800 2500</td>
            <td>Télephone</td>
            <td>
              <img
                src="../image/updated.png"
                alt="update"
                class="update-remove"
              />
            </td>
            <td>
              <img
                src="../image/remove.png"
                alt="remove"
                class="update-remove"
              />
            </td>
          </tr>

          <tr>
            <td>
              <img src="https://i.picsum.photos/id/64/100/100.jpg" alt="" />
            </td>
            <td>3</td>
            <td>hogsd</td>
            <td>igbrich</td>
            <td>5</td>
            <td>300</td>
            <td>01 800 2000</td>
            <td>télévision</td>
            <td>
              <img
                src="../image/updated.png"
                alt="update"
                class="update-remove"
              />
            </td>
            <td>
              <img
                src="../image/remove.png"
                alt="remove"
                class="update-remove"
              />
            </td>
          </tr>

          <tr>
            <td>
              <img src="https://i.picsum.photos/id/1025/100/100.jpg" alt="" />
            </td>
            <td>4</td>
            <td>écouteur</td>
            <td>Samsung</td>
            <td>2</td>
            <td>300</td>
            <td>01 800 2000</td>
            <td>ecouteur</td>
            <td>
              <img
                src="../image/updated.png"
                alt="update"
                class="update-remove"
              />
            </td>
            <td>
              <img
                src="../image/remove.png"
                alt="remove"
                class="update-remove"
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
