<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
        <table class="container">
            <thead>
                <tr>
                    <th ><h1>ID</h1></th>
                    <th><h1>Name</h1></th>
                    <th><h1>Brand</h1></th>
                    <th><h1>designation</h1></th>
                    <th><h1>PU</h1></th>
                    <th><h1>Quantity</h1></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="left">3</td>
                    <td>Samsung A10</td>
                    <td>Samsung</td>
                    <td>Phones</td>
                    <td>199.00$</td>
                    <td>6</td>
                    <td>Edit</td>
                    <td id="right">Delete</td>
                </tr>
            </tbody>
        </table>
</body>
</html>